:root {
  --cream: #eae7dc;
  --light-brown: #d8c3a5;
  --dark-gray: #8e8d8a;
  --darker-gray: #5f5d56;
  --light-pink: #e98074;
  --intense-pink: #e85a4f;
  background-color: var(--cream);
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.75rem;
  font-weight: 600;
}

p {
  font-size: 0.75rem;
}

.titleReddit {
  font-family: "Lobster";
  color: var(--dark-gray);
  font-size: 2rem;
}

.titleNano {
  color: var(--intense-pink);
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 2rem;
}

.App {
}

.App-logo {
  //  height: 40vmin;
  pointer-events: none;
}

.content {
  display: flex;
  padding: 10px;
  justify-content: center;
  border: 2px black solid;
  position: absolute;
  top: 70px;
}

ul {
  list-style: none;
  text-align: left;
  padding: 10px 20px 0 0;
}

li {
  text-align: left;
  padding: 10px;
  margin: 5px;
  border: 1px black solid;
}

.Favorites {
}

.listings {
  width: 60%;
}

.listing {
  border: 1px black;
  margin: 20px;
  padding: 15px;
  display: flex;
  background-color: var(--dark-gray);
  opacity: 0.8;
  align-items: flex-start;
}

.Search-bar {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  opacity: 1;
  background-color: yellowgreen;
  padding: 10px;
}

.Search-bar > div {
  margin: 10px;
}

.search {
  margin: 10px;
  font-size: 22px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info {
  padding: 3% 4% 0% 0%;
  display: flex;
  flex-direction: column;
}

.listingBottom span {
  margin: 0 5px 0 0;
  padding: 5px;
  font-size: 0.5rem;
  font-weight: 1000;
  background-color: var(--darker-gray);
}
