:root {
  --cream: #eae7dc;
  --light-brown: #d8c3a5;
  --dark-gray: #8e8d8a;
  --darker-gray: #5f5d56;
  --light-pink: #e98074;
  --intense-pink: #e85a4f;
  --reddit-orange: #ff5700;
  background-color: var(--cream);
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 5px;
}

h2 {
  font-size: 0.75rem;
  font-weight: 0;
}

h3 {
  font-size: 0.75rem;
  font-weight: 300;
}

p {
  font-size: 0.75rem;
}

.titleReddit {
  font-family: "Lobster";
  color: var(--reddit-orange);
  font-size: 2rem;
}

.titleNano {
  color: var(--light-brown);
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 2rem;
}

.text-link,
.text-link.a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  padding: 10px;
  position: absolute;
  top: 70px;
  justify-content: center;
  width: 100%;
}

.Favorites ul {
  list-style: none;
  padding: 0;
}

.Favorites li {
  padding: 10px 80px 10px 10px;
  margin: 5px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.Favorites img {
  margin: 8px;
  height: 2rem;
  border-radius: 50%;
}
.Favorites {
  background: var(--dark-gray);
  padding: 10px;
  min-height: 3000px;
}

.Search-bar {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  opacity: 1;
  background-color: var(--dark-gray);
  padding: 10px;
  border-bottom: 1px black solid;
}

.Search-bar > div {
  margin: 10px;
}

.search {
  margin: 10px;
  font-size: 22px;
}

/* Shared styling for comments & listings */

.chevrons {
  color: var(--light-brown);
}

.info:hover {
  color: var(--reddit-orange);
}

/* LISTING STYLES */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
}

.listings {
  width: 50%;
}

.listing {
  margin: 0 20px 20px 20px;
  padding: 10px 30px 10px 20px;
  background-color: var(--dark-gray);
  opacity: 0.8;
  display: flex;
  align-items: center;
}
.listing:hover {
  border: 1px black solid;
}

.listingContent h1:hover {
  color: var(--light-pink);
}

.info span {
  font-weight: bold;
}

.listingHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.listingHeader > :first-child {
  padding-right: 5px;
}

img {
  max-width: 100%;
}

.listingMain {
  width: 100%;
}

.listingContent {
  height: auto;
}

/* Comments Styling */

.comment {
  border: 1px black;
  margin: 0 20px 20px 20px;
  padding: 10px 30px 10px 20px;
  background-color: var(--dark-gray);
  opacity: 0.8;
}

.commentHeader h2,
h3 {
  display: inline;
  margin-right: 5px;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: 60%;
  background-color: blanchedalmond;
  margin-left: 20px;
}

.post {
  padding: 15px;
}

.post h2,
h3 {
  display: inline;
  margin-right: 5px;
}

.postHeader {
  display: flex;
}

.loading {
  width: 90%;
  height: auto;
  border: 1px black;
  margin: 20px 20px;
  padding: 30px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
